@import '../../scss-library/font-family';

.book-vol {
  text-align: left;
  margin-bottom: 5rem;
  
  > .vol-name {
    margin: 0;
    margin-bottom: 8px;
    @include noto-sans;
    font-style: normal;
  }

  > .vol-divider {
    border: 1px solid white;
    border-radius: 1px;
    margin: 16px 0;
    max-width: 500px;
    width: 50%;
  }

  > .vol-description {
    margin: 0;
    margin: 0;
    @include noto-sans;
    font-style: italic;
    line-height: 1.5;
  }

  > .vol-content {
    @include noto-sans;
    font-size: normal;
    font-weight: 400;
    line-height: 1.5;
  }
}